div#agency-wrapper {
    --pry-color: #F4A11D;
}
#agency-contents section#home .home-container {
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
}
.theme-dark #agency-contents section#home .home-container {
    background-image: url(../images/dark-background-logo.png);
}
.theme-light #agency-contents section#home .home-container {
    background-image: url(../images/light-background-logo.png);
}

.agency-logo, .agency-download-btn-wrapper {
    display: initial !important;
}
.agency-stuff {
    display: flex !important;
}
.urban-logo, .urban-download-btn-wrapper, .urban-stuff {
    display: none !important;
}