:root {
    /* --pry-color: #F4A11D; */
    --sec-color: #C92135;
    --urban-pry-color: #C92135;
    --agency-pry-color: #F4A11D;
	--font: 'pushpenny', sans-serif;
    --font-bold: 'pushpenny-bold', sans-serif;
    --font-medium: 'pushpenny-medium', sans-serif;
    --font-light: 'pushpenny-light', sans-serif;
    --font-xbold: 'pushpenny-xbold', sans-serif;

    width: 100%;
    overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 8px;
}
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: rgba(2, 2, 2, 0.8);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(2, 2, 2, 0.4);
}

.theme-dark ::-webkit-scrollbar-thumb {
	background: rgba(244, 161, 29, 0.8);
	border-radius: 10px;
}
.theme-dark ::-webkit-scrollbar-thumb:hover {
	background: rgba(244, 161, 29, 0.4);
}

body {
	font-family: var(--font-light);
	height: auto;
    min-height: 100vh;
    background-color: white;
    color: black;
}
body * {
    transition: background-color 1.5s;
}
.theme-dark body{
    background-color: #212121;
    color: white;
}
h1, h2, h3, h4{
    font-family: var(--font-light);
    letter-spacing: -2px;
}
h5, h6{
    font-family: var(--font-light);
    letter-spacing: -1px;
}

.pad0{
    padding: 0 !important;
}
.pad-l-0{
    padding-left: 0 !important;
}
.pad-r-0{
    padding-right: 0 !important;
}
.hidden{
    display: none;
}
.reg-txt{
    font-family: var(--font);
}
.smbold-txt{
    font-family: var(--font-smbold);
}
.bold-txt{
    font-family: var(--font-bold);
}
.xbold-txt{
    font-family: var(--font-xbold);
}
.light-txt{
    font-family: var(--font-light);
}
/* .xlight-txt{
    font-family: var(--font-xlite);
} */
.pry-font{
    font-family: var(--font);
}
.rel{
    position: relative;
}
.abs{
    position: absolute;
}
.text-justify{
    text-align: justify;
}
.pry-color{
    color: var(--pry-color);
}
.sec-color{
    color: var(--sec-color);
}
.pry-bg{
    background-color: var(--pry-color);
    color: white;
}
.sec-bg{
    background-color: var(--sec-color);
    color: #161616;
}
.agency-pry-bg{
    background-color: var(--agency-pry-color);
    color: white;
}
.urban-pry-bg{
    background-color: var(--urban-pry-color);
    color: white;
}
.white-bg{
    background-color: white;
    color: black;
}
.white-txt{
    color: white !important;
}
.black-txt{
    color: black !important;
}
.black-bg{
    background-color: black;
    color: white;
}
.sm-black-bg{
    background-color: #1C1C1C;
    color: white;
}
.full-width{
    width: 100%;
}
.full-height{
    height: 100%;
}
.hidden-xs{
    display: block;
}
.visible-xs{
    display: none;
}
.hidden-xs-sm{
    display: block !important;
}
.visible-xs-sm{
    display: none !important;
}
.flex-div{
    display: flex;
}
.justify-content-btw {
    justify-content: space-between;
}
.mag-0{
    margin: 0 !important;
}
.mag-bottom-0{
    margin-bottom: 0 !important;
}
.mag-top-0{
    margin-top: 0 !important;
}
.pointer {
    cursor: pointer;
}
.hover-scale {
    transition: all 1.5s !important;
}
.hover-scale:hover {
    transform: scale(1.1);
}
img {
    max-width: 100%;
}

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

.abs-btn-wrapper {
    position: absolute;
    width: 250px;
    left: -60%;
    height: 0;
    transition: all 1.5s;
    overflow: hidden;
}
.unknown-device-btn:hover + .abs-btn-wrapper, .abs-btn-wrapper:hover {
    height: 40px;
}
.abs-btn-wrapper > button.app-store:hover {
    transform: none !important;
}
/* .unknown-device, .andriod-device, .ios-device {
    display: none;
} */
.contents {
    min-height: 80vh;
}

/* Some Home Styles */
#home {
    background-color: white;
    color: black;
    /* height: calc(100vh - 80px); */
    min-height: 600px;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    min-height: 100vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.theme-dark #home {
    background-color: #212121;
    color: white;
}
#home::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* background-image: url(../images/faint-bg.png); */
    background-size: 100% 100%;
    background-position: center;
}
/* #home::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background-image: url(../images/home-side-bg.png);
    background-image: url(../images/phone-with-bg.png);
} */
#home-txt-side {
    position: relative;
    margin-top: 20%;
}
.floating-phone {
    position: absolute;
    width: 65%;
    left: 11%;
    top: 50%;
    transform: translateY(-50%);
    animation: float-phone 6s infinite ease-in-out;
}
div#home-img-side {
    max-width: 620px;
    position: relative;
}
@keyframes float-phone {
    0% {
        transform: translateY(-50%);
    }
    50% {
        transform: translateY(-54%);
    }
    100% {
        transform: translateY(-50%);
    }
}
h1.home-title {
    font-family: var(--font-medium);
    margin: 1.5rem 0;
    font-size: 450%;
    font-size: 5.25vw;
    font-weight: 700;
}
.home-minor-title {
    font-weight: bold;
    font-size: 21px;
    line-height: 27px;
}
p.home-desc-txt {
    font-size: 18px;
    line-height: 27px;
    margin-top: 0;
}
.app-stores-wrapper {
    margin: 2rem 0 1rem;
    display: flex !important;
}
/* .app-stores-wrapper > div:not(last-child) {
    margin-right: 10px;
} */
button.app-store {
    padding: 0;
    border: 0;
    background-color: transparent !important;
    cursor: pointer;
    width: 90%;
}
button.app-store > img {
    width: 100%;
}
button.pry-btn.btn, button.pry-btn-2.btn {
    font-size: 10px;
    border-radius: 4px;
    min-width: 100px;
    font-weight: bold;
    /* margin-bottom: 20px; */
    font-family: var(--font);
    border: 1px solid var(--pry-color);
    transition: all 1.5ms;
    padding: 5px 20px;
    height: auto;
}
button.pry-btn.btn {
    background: var(--pry-color);
    color: white;
}
button.pry-btn-2.btn {
    background-color: white;
    color: var(--pry-color);
}
button.pry-btn.btn:hover {
    background-color: var(--sec-color);
    border-color: var(--sec-color);
}
button.pry-btn-2.btn:hover {
    color: var(--sec-color);
    border: 1px solid var(--sec-color);
}
button.submit-btn.pry-btn.btn {
    min-width: 150px;
}
button.pry-btn.btn img, button.pry-btn-2.btn img {
    position: relative;
    top: 5px;
    margin-left: 5px;
}

.phone-card-imgs {
    position: relative;
}
.phone-card-imgs .pci-img {
    position: absolute;
    width: 50%;
    right: 0;
    top: 15vh;
}
img#p-img-1 {
    width: 70%;
    animation: phone-1-right 1.5s ease-in 200ms 1;
    transform: rotate(20deg);
}
img#p-img-2 {
    width: 38%;
    animation: card-left 1.5s ease-in 200ms 1;
    transform: rotate(-93deg) translate(-120px, -250px);
}
img#p-img-3 {
    width: 60%;
    animation: phone-2-left 1.5s ease-in 200ms 1;
    transform: rotate(-10deg) translate(-86px, 10px);
}

@keyframes phone-1-right {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(20deg);
    }
}
@keyframes card-left {
    0% {
        transform: rotate(0deg) translate(-120px, 50px);
    }
    100% {
        transform: rotate(-93deg) translate(-120px, -250px);
    }
}
@keyframes phone-2-left {
    from {
        transform: rotate(0deg) translate(0,0);
    }
    to {
        transform: rotate(-10deg) translate(-86px, 10px);
    }
}

@media(min-width: 993px) {
    section#home {
        height: 100vh;
        max-height: 1000px;
    }
    section#home > .row, section#home .home-container {
        height: 100%;
        z-index: 1;
    }
    #home-txt-side {
        margin: 0;
        position: relative;
        top: 60%;
        transform: translateY(-50%);
    }
    /* div#home-img-side {
        display: none;
    } */
}
@media(max-width: 992px) {
    #home .app-stores-wrapper {
        justify-content: center;
    }
    #home p.home-desc-txt {
        text-align: center;
    }
    .phone-card-imgs {
        position: relative;
        float: left;
        width: 100%;
        min-height: 420px;
    }
    .phone-card-imgs .pci-img {
        top: 10px;
    }
}
@media(max-width: 600px) {
    .home-minor-title, h1.home-title {
        text-align: center;
    }
}
/* end of Some Home Styles */

/* Sections Styles */
.sect-img {
    width: 90%;
}
/* ul.sect-list {
    list-style-image: url('../images/check.svg');
    padding-left: 30px !important;
}
ul.sect-list > li > span {
    position: relative;
    top: -15px;
    display: block;
}
ul.sect-list.s-list-1 > li > span {
    top: -12px;
} */
ul.sect-list > li {
    padding: 10px 0;
    display: flex;
    align-items: flex-end;
}
ul.sect-list.s-list-1 > li{
    align-items: center;
}
ul.sect-list > li > img {
    width: 68px;
    margin-right: -15px;
    position: relative;
    top: 2px;
}

h3.sect-title {
    font-size: 50px;
    line-height: 56px;
    font-family: var(--font-bold);
    color: #161616;
}
h4.sect-title {
    font-size: 42px;
    line-height: 48px;
    font-family: var(--font-bold);
    color: #161616;
}
.theme-dark h3.sect-title, .theme-dark h4.sect-title {
    color: white;
}
p.sect-desc {
    font-size: 16px;
}
#sect-1, #sect-2, #sect-3{
    padding: 40px 0;
    /* margin: 20px 0; */
    position: relative;
    z-index: 1;
}
#sect-2 {
    /* background-color: #FAFAFA; */
    padding-top: 50px;
}
#sect-2 .sect-center {
    text-align: center;
}
#sect-2 img.sect-img {
    width: 68%;
}
.theme-dark #sect-1, .theme-dark #sect-3 {
    background: linear-gradient(180deg, #212121 0%, #161616 100%);
}
/* #sect-2::before, #sect-4::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
} */
#sect-3 {
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0;
}
/* #sect-3 .sec-mag-down {
    margin-top: 30px;
} */
.sec-list-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.sec-list-grid .sect-list span {
    position: relative;
    top: -8px;
}
/* img.sect-img {
    width: 90%;
} */
/* end of Sections Styles */

/* Middle-Sections Styles */
section.mid-sects {
    background-color: #FAFAFA;
    /* background-color: rebeccapurple; */
    padding: 30px 0 50px;
    /* margin: 40px 0; */
}
.theme-dark section.mid-sects {
    background-color: #343434;
}
.mid-sects button.get-started-btn.btn {
    width: 200px;
    height: 48px;
    font-size: 12px;
}
p.mid-sect-p {
    font-size: 18px;
}
.get-started-btn-wrapper {
    margin-top: 22px;
}

.hidden {
    display: none;
}
/* end of Middle-Sections Styles */

/* Customer-Review-Section Styles */
section#customer-testimonials {
    /* margin-bottom: 0; */
    background-color: white;
}
.theme-dark section#customer-testimonials {
    background-color: #212121;
}
.customer-sect-title {
    max-width: 550px;
    padding: 20px 0;
}
.testimony-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 10px 0 20px;
}
.testimony-wrapper.visible-xs {
    display: none;
}
.testimony-wrapper.hidden-xs {
    display: grid;
}
.testimony-block {
    font-size: 14px;
    background-color: #F4F4F4;
    /* background-color: rebeccapurple; */
    padding: 30px 40px;
    border-radius: 8px;
}
.theme-dark .testimony-block{
    background-color: #161616;
}
.review-container {
    min-height: 50%;
}
.review-title {
    align-items: center;
}
.review-title span.bold {
    font-size: 15px;
    font-weight: bold;
}
img.review-title-icon {
    padding-right: 10px;
    display: none;
}
.theme-dark img.review-title-icon.rti-1 {
    display: none;
}
.theme-dark img.review-title-icon.rti-2 {
    display: initial;
}
.theme-light img.review-title-icon.rti-1 {
    display: initial;
}
.theme-light img.review-title-icon.rti-2 {
    display: none;
}

@media(min-width: 993px) {
    #sect-1{
        padding: 40px 0 80px;
    }
}
@media(max-width: 992px) {
    .testimony-wrapper {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 0;
    }
}
@media(max-width: 600px) {
    .testimony-wrapper {
        grid-template-columns: 100%;
        margin: 0;
    }
    .review-container {
        min-height: auto;
    }
    .carousel.testimony-wrapper.visible-xs {
        height: 350px;
    }
    .testimony-wrapper.visible-xs {
        display: block;
    }
    .testimony-wrapper.hidden-xs {
        display: none;
    }
    .carousel .carousel-item.testimony-block {
        width: 280px;
        height: auto;
        text-align: center;
    }
    .review-title {
        flex-direction: column;
    }
    .review-title span.bold {
        padding-top: 12px;
    }
}
/* end of Customer-Review-Section Styles */

/* Partner-Sections Styles */
section#our-partners {
    margin-top: 0;
}
/* .theme-dark #our-partners {
    background-color: #212121;
} */
.partners-sect-wrapper h4 {
    margin-bottom: 40px;
}
.partners-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
}
.partner-link {
    transition: all 1.5s;
}
.partner-link:hover {
    transform: scale(1.1);
}

@media(hover: hover) {
    .partners-wrapper > .partner-link > img {
        filter: grayscale(1);
    }
    .partners-wrapper > .partner-link > img:hover {
        filter: grayscale(0);
    }
}

@media(max-width: 600px) {
    .partners-wrapper-mobile {
        width: 100%;
        overflow-x: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        border-left: 12px solid rgba(241, 241, 241, 0.05);
        border-right: 12px solid rgba(241, 241, 241, 0.05);
        border-radius: 20px;
        padding: 4px 5px;
    }
    .partners-wrapper-mobile::-webkit-scrollbar {
        display: none;
    }
    .partners-wrapper {
        width: 180%;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }
}
/* end of Partner-Sections Styles */


/* Debit-Cards and Join-Payrail */
section#debit-cards {
    padding-top: 30px;
}
section#join-payrail {
    padding-bottom: 30px;
    position: relative;
}
section#debit-cards .row {
    margin-bottom: 0px;
}
#join-payrail .app-stores-wrapper {
    justify-content: center;
}
.box-txt {
    font-size: 18px;
    margin: 20px 0;
}
.black-wrapper {
    overflow: auto;
    padding: 30px 0 35px;
    border-radius: 20px;
}
.debit-card-title {
    font-size: 20px;
}
.debit-card-txt {
    font-size: 26px;
    line-height: 31px;
    font-family: var(--font-medium);
    margin-top: 10px;
}
.payrail-card-hand {
    position: relative;
    bottom: -6px;
}

@media(min-width: 992px) {
    .debit-cards-txt-div {
        position: relative;
        top: 200px;
    }
    .black-wrapper {
        padding: 40px 0px 48px;
    }
}
@media(max-width: 600px) {
    section#join-payrail .container {
        width: 100%;
    }
    .black-wrapper {
        border-radius: 0;
    }
}
/* end of Debit-Cards and Join-Payrail */


@media(min-width: 601px) {
    .container {
        width: 90% !important;
    }
    .pr-0-sm {
        padding-right: 0 !important;
    }
    .pl-0-sm {
        padding-left: 0 !important;
    }
}
@media(max-width: 992px){
    nav.scrolled-nav.main-nav {
        height: 75px;
    }
    .hidden-xs-sm{
        display: none !important;
    }
    .visible-xs-sm{
        display: block !important;
    }
    #home {
        padding-bottom: 30px;
    }
    h1.home-title {
        font-size: 70px;
    }
    h3.sect-title {
        font-size: 40px;
        line-height: 46px;
    }
    h4.sect-title {
        font-size: 34px;
        line-height: 36px;
    }
}
@media(max-width: 600px){
    .hidden-xs{
        display: none !important;
    }
    .visible-xs{
        display: block !important;
    }
    .text-center-xs{
        text-align: center;
    }
    .text-justify-xs{
        text-align: justify;
    }
    .inblock-div-xs{
        display: inline-block;
    }
    .pad0-xs{
        padding: 0 !important;
    }

    a.brand-logo img {
        width: auto;
        height: 35px;
        position: relative;
        top: 10px;
    }
    nav .brand-logo{
        left: 0;
        transform: translateX(0);
    }
    nav.scrolled-nav a.brand-logo img {
        width: auto;
        height: 35px;
        top: 10px;
    }
    #home-txt-side {
        position: relative;
        margin-top: 30%;
    }
    h1.home-title {
        font-size: 42px;
    }
    p.home-desc-txt {
        margin: 30px 0;
    }
    .app-stores-wrapper > div {
        width: calc(50% - 15px);
    }
    .app-stores-wrapper > div:first-child {
        margin-right: 15px;
    }
    .flex-div-coloumn-xs {
        display: flex;
        flex-direction: column-reverse;
    }
    .sect-img {
        width: 100%;
    }
    #sect-1, #sect-2, #sect-3 {
        padding: 20px 0;
        margin: 20px 0;
        position: relative;
    }
    section#customers-withdrawal {
        margin-bottom: 50px;
    }
    section#customers-withdrawal .container {
        width: 100%;
    }
    .big-crd.sec-bg {
        display: flex;
        flex-direction: column-reverse;
    }
    .sec-img-bg img {
        height: auto;
        transform: matrix(-1, 0, 0, 1, 0, 0);
    }
    .big-crd > .sec-bg {
        padding: 40px 25px;
    }
    h1.join-title {
        font-size: 43px;
    }
    /* ul.sect-list > li > span {
        top: -17.5px;
    }
    ul.sect-list.s-list-1 > li > span {
        top: -13px;
    }
    @media not all and (min-resolution:.001dpcm)
    { @supports (-webkit-appearance:none) {
        ul.sect-list > li > span {
            top: -20px;
        }
        ul.sect-list.s-list-1 > li > span {
            top: -15px;
        }
    }} */
}
