.dummy-positioning {
  width: 100%;
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
}

.success-icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 20px;
  border-radius: 50%;
  border: 2px solid var(--pry-color);
  background-color: #161616;
  position: relative;
  /* overflow: hidden; */
  transform-origin: center;
  -webkit-animation: showSuccess 180ms ease-in-out;
          animation: showSuccess 180ms ease-in-out;
  transform: scale(1);
}

.success-icon__tip, .success-icon__long {
  display: block;
  position: absolute;
  height: 2px;
  background-color: var(--pry-color);
  border-radius: 10px;
}
.success-icon__tip {
    width: 15px;
    top: 27px;
    left: 8px;
    transform: rotate(45deg);
    animation: tipInPlace 300ms ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 180ms;
    -webkit-animation: tipInPlace 300ms ease-in-out;
        animation: tipInPlace 300ms ease-in-out;
  -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
  -webkit-animation-delay: 180ms;
    visibility: hidden;
    border-radius: 8px;
}
.success-icon__long {
    width: 26px;
    transform: rotate(-45deg);
    top: 23px;
    left: 17px;
    animation: longInPlace 140ms ease-in-out;
    -webkit-animation: longInPlace 140ms ease-in-out;
        animation: longInPlace 140ms ease-in-out;
    -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;
    visibility: hidden;
    -webkit-animation-delay: 440ms;
        animation-delay: 440ms;
    border-radius: 8px;
}

@-webkit-keyframes showSuccess {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@keyframes showSuccess {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@-webkit-keyframes tipInPlace {
  from {
    width: 0px;
    top: 0px;
    left: -4px;
  }
  to {
    width: 15px;
    top: 27px;
    left: 8px;
    visibility: visible;
  }
}
@keyframes tipInPlace {
  from {
    width: 0px;
    top: 0px;
    left: -4px;
  }
  to {
    width: 15px;
    top: 27px;
    left: 8px;
    visibility: visible;
  }
}
@-webkit-keyframes longInPlace {
  from {
    width: 0px;
    top: 28px;
    left: 22px;
  }
  to {
    width: 26px;
    top: 23px;
    left: 17px;
    visibility: visible;
  }
}
@keyframes longInPlace {
  from {
    width: 0em;
    top: 28px;
    left: 22px;
  }
  to {
    width: 26px;
    top: 23px;
    left: 17px;
    visibility: visible;
  }
}